<!DOCTYPE html>
<html lang="en" ng-app='congressmanprofile'>
<head>
  <meta charset="utf-8">
  <base href="/" />
  <title>Political Profiler</title>
  <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style.css">
  
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="scripts/app.bundle.js"></script>

  <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.8.0/loading-bar.min.css' type='text/css' media='all' />


</head>
  <body>
    <div class="header">
      <div class="col-sm-8 col-sm-offset-2">
        <a href="/"><h1 class="text-center">Political Profiler</h1></a>
        <h4 class="text-center">See how your senator and representative voted on issues important to you!</h4>
      </div>
    </div>
    <div class="main">
      <div ui-view></div>
    </div>
    <div class="footer">
      <div class="col-sm-8 col-sm-offset-2">
        <hr/>
        <p>Proudly made using Open Data: <a href="https://www.govtrack.us/developers">govtrack.us/developers</a></p>
      </div>
    </div>
  </body>
</html>
