<!-- Home View-->
<div class="col-sm-8 col-sm-offset-2"> 
  <div class="col-sm-4 col-sm-offset-2">
    <input type="text" placeholder="Search by Congress Member Name" />
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <h3 class="text-center">Most Recent Searches</h3>
    <div class="profiles" ng-repeat="profile in trendingProfiles">
      <div class="profile">
        <img src="https://www.govtrack.us/data/photos/{{ profile.id }}-100px.jpeg">
        <span>{{ profile.name }}</span>
        <span>{{ profile.party }}</span>
        <span>{{ profile.description }}</span>
        <div class="home-votes" ng-repeat="bill in profile.bills">
          <span>{{ bill.title }}</span>
          <span>{{ bill.vote }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
