<!-- Profile View Template -->
<div class="col-sm-8 col-sm-offset-2">
  <div class="member-data col-sm-4">
      <img src="https://www.govtrack.us/data/photos/{{ member.data.id }}-100px.jpeg">
      <div class="profile-data">        
        <div class="profile-name"><b>{{ member.data.firstname }} {{ member.data.lastname }}</b></div>
        <div class="profile-birthdate">{{ member.data.age }} Years Old</div>
        <div class="profile-party">{{ member.data.party }}</div>
        <div class="profile-description">{{ member.data.description }}</div>
        <div class="profile-social-media">
          <span ng-if="member.twitterid">Twitter: {{ member.data.twitterid }}</span>
          <span ng-if="member.youtubeid">Youtube: {{ member.data.youtubeid}}</span>
          <span ng-if="member.phone">Phone: {{ member.data.phone }}</span>
        </div>
      </div>
    </div>

    <!-- Add Second Member Search -->
    <div class="profile-addMember col-sm-3 col-sm-offset-5">
       <input class="form-control input-sm" type="text" placeholder="Search by Congress Member Name" ng-model="addMember" typeahead="person as person.firstName + ' ' + person.lastName for person in allMembers | filter: $viewValue | limitTo:5" />
      <button class="btn btn-default btn-sm" ng-click="loadMember()"> Add Member </button> 
    </div> <!-- End Second Member Search -->

    <!-- Second Member -->
    <div ng-if="secondMember.data.id" class="member-data">
      <div class="second-member-data col-sm-4">
          <img src="https://www.govtrack.us/data/photos/{{ secondMember.data.id }}-100px.jpeg" >
          <div class="second-profile-data">        
            <div class="profile-name"><b>{{ secondMember.data.firstname }} {{ secondMember.data.lastname }}</b></div>
            <div class="profile-birthdate">{{ secondMember.data.age }} Years Old</div>
            <div class="profile-party">{{ secondMember.data.party }}</div>
            <div class="profile-description">{{ secondMember.data.description }}</div>
            <div class="profile-social-media">
              <span ng-if="secondMember.twitterid">Twitter: {{ secondMember.data.twitterid }}</span>
              <span ng-if="secondMember.youtubeid">Youtube: {{ secondMember.data.youtubeid}}</span>
              <span ng-if="secondMember.phone">Phone: {{ secondMember.data.phone }}</span>
            </div>
          </div>
      </div> <!-- End Second Member -->
    
  </div>

  <div class="bill-votes col-sm-8 col-sm-offset-2">
    <div class="bill-search col-sm-8 col-sm-offset-2">
      <input type="text" class="form-control" placeholder="Filter Bills by Keyword" ng-model="billKeyword" />
    </div>
    <div class="bills col-sm-10 col-sm-offset-1" ng-repeat="bill in member.data.votes | filter:billKeyword | limitTo: 3">

      <div class="bill col-sm-12">
          <span class="col-sm-1 member-vote vote-left">
            {{ bill.vote }}
          </span>
        <div class="bill_text col-sm-8 col-sm-offset-1">
          <span class="bill-question">
            <p>
              <a href="{{ bill.thomas_link }}">{{ bill.bill_question }}</a>
            </p>
          </span>
          <span class="bill-details">
            <p>
              Details: {{ bill.bill_question_details }}
            </p>
          </span>
          <span class="bill_status">
            <p>
              Result: {{ bill.result }}
            </p>
          </span>
        </div>
          <span class="col-sm-1 vote-right member-vote">
            {{ secondMember.vote}}
          </span>
      </div>
    </div> <!--End bills -->
    <div class="graph"> 
      
    </div> <!-- End Graph -->
  </div>
  
</div>