<!-- Profile View Template -->
<div class="col-sm-8 col-sm-offset-2">
  <div class="member-data">
    <div class="profile-picture">
      <img src="https://www.govtrack.us/data/photos/{{ profile.id }}-200px.jpeg">
    </div>
    <div class="profile-data">
      <img src="https://www.govtrack.us/data/photos/{{ member.id }}-100px.jpeg">
      <div class="profile-name"><b>{{ member.firstname }} {{ member.lastname }}</b></div>
      <div class="profile-birthdate">{{ member.age }} Years Old</div>
      <div class="profile-party">{{ member.party }}</div>
      <div class="profile-description">{{ member.description }}</div>
      <div class="profile-social-media">

        <span ng-if="member.twitterid">Twitter: {{ member.twitterid }}</span>
        <span ng-if="member.youtubeid">Youtube: {{ member.youtubeid}}</span>
        <span ng-if="member.phone">Phone: {{ member.phone }}</span>
      </div>
    </div>
  </div>
  <div class="bill-votes">
    <div>
      <input type="text" placeholder="Filter Bills by Keyword" ng-model="billKeyword" />
    </div>
    <div class="bills" ng-repeat="bill in member.votes | filter:billKeyword | limitTo: 10">
      <div>
        <span class="bill-vote">
          <p>
          {{ bill.vote }}
          {{ bill.id}}
          </p>
        </span>
      <div>
        <span class="bill-question">
          <p>
            <a href="{{ bill.thomas_link }}">{{ bill.bill_question }}</a>
          </p>
        </span>
        <span class="bill-details">
          <p>
            {{ bill.bill_question_details }}
          </p>
        </span>
        <span class="bill_status">
          <p>
            {{ bill.result }}
          </p>
        </span>
      </div>
      </div>
    </div> <!--End bills -->
    <div class="graph"> 
      
    </div> <!-- End Graph -->
  </div>
  
</div>