<!-- Compare Template - Second Member -->
<div class="second-member-data col-sm-4">
    <img src="https://www.govtrack.us/data/photos/{{ member.data.id }}-100px.jpeg">
    <div class="second-profile-data">        
      <div class="profile-name"><b>{{ secondMember.data.firstname }} {{ secondMember.data.lastname }}</b></div>
      <div class="profile-birthdate">{{ secondMember.data.age }} Years Old</div>
      <div class="profile-party">{{ secondMember.data.party }}</div>
      <div class="profile-description">{{ secondMember.data.description }}</div>
      <div class="profile-social-media">
        <span ng-if="secondMember.twitterid">Twitter: {{ secondMember.data.twitterid }}</span>
        <span ng-if="secondMember.youtubeid">Youtube: {{ secondMember.data.youtubeid}}</span>
        <span ng-if="secondMember.phone">Phone: {{ secondMember.data.phone }}</span>
      </div>
    </div>
</div>
