<!-- Home View-->
<div class="col-sm-8 col-sm-offset-2" > 
  <div class="col-sm-6 col-sm-offset-3 member-search">
    <input type="text" class="form-control" placeholder="Search by Congress Member Name" ng-model="memberSearch" typeahead="person as person.firstName + ' ' + person.lastName for person in allMembers | filter: $viewValue | limitTo:5" />
    <button class="btn btn-default" ng-click="gotoMember()"> Search </button> 
    <div class="members" ng-hide"!model.length || selected">
      <div class="member"  ng-click="getMember(member.id)">
        <p class="member_name">{{ member.name }}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-8 col-sm-offset-2">
    <h3 class="text-center">Most Recent Searches</h3>
    <div class="profiles" ng-repeat="profile in trendingProfiles">
      <div class="home-profile">
        <img src="https://www.govtrack.us/data/photos/{{ profile.id }}-100px.jpeg">
        <span>{{ profile.name }}</span>
        <span>{{ profile.party }}</span>
        <span>{{ profile.description }}</span>
        <div class="home-votes" ng-repeat="bill in profile.bills">
          <span>{{ bill.title }}</span>
          <span>{{ bill.vote }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
ng-repeat="member in allMembers | filter:memberSearch track by $index" -->