<!-- Home View-->

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-5" ng-show="isMapView">
      <div>
        <button class="btn btn-default" style="float:left;" ng-click="switchView()"> Search By Name </button>
      </div>
      <div id="clicked-state"></div>
      <div id="map" style="width: 600px; height: 400px;"></div>
    </div>

    <div class="col-sm-6 col-sm-offset-1" ng-show="isMapView" style="overflow:auto;height:400px;">
      <!-- <div style="width:100%;" ng-repeat="member in stateMembers">
        <div style="height:75px;float:left;">
          <a href="/profile/{{ member.id }}"><img class="home-profile-pic" src="https://www.govtrack.us/data/photos/{{ member.id }}-100px.jpeg" onerror="this.src='images/icons/default.png'"></a>
        </div>
        <div style="float:left;padding-left:10px;">
          {{ member.title }}
        </div>
      </div> -->

      <table>
        <tbody>
          <tr ng-repeat="member in stateMembers">
            <td>
              <a href="/profile/{{ member.id }}"><img class="map-profile-pic home-profile-pic" src="https://www.govtrack.us/data/photos/{{ member.id }}-50px.jpeg" onerror="this.src='images/icons/default.png'"></a>
            </td>
            <td class="map-profile">
              <a href="/profile/{{ member.id }}">{{ member.title }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-10 col-sm-offset-1" ng-show="!isMapView">
      <div>
        <input type="text" class="form-control" placeholder="Search by Politician Name" ng-model="memberSearch" typeahead="person as person.title for person in allMembers | filter: $viewValue | limitTo:10" />
        <button class="btn btn-default" ng-click="gotoMember()"> Search </button>
        <button class="btn btn-default" style="float:right;" ng-click="switchView()"> Search By Map </button>
      </div>
      
      <h3 class="text-center">Most Recent Searches</h3>
      <div class="row">
        <div ng-repeat="profile in trendingMembers">
          <div class="col-xs-6 col-sm-3 home-profile">
            <a href="/profile/{{ profile.id }}"><img class="home-profile-pic" src="https://www.govtrack.us/data/photos/{{ profile.id }}-100px.jpeg" onerror="this.src='images/icons/default.png'"></a>
            <div>{{ profile.title }}</div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

