/*
Colors
*/

$red: #ee4035;
$orange: #f37736;
$tan: #fdf498;
$green: #7bc043;
$blue: #0392cf;
$gray: #bbbbbb;
$black: #000000;

$red-rgb: (238,64,53);
$green-rgb: (123,192,67);
$gray-rgb: (187,187,187);

/*
Font
*/

$font-stack: Helvetica, sans-serif;

/*
Mixins
*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font: 100% $font-stack;
}

.header {
  margin: 20px auto 10px;
  
  a {
    font-style: none;
    text-decoration: none;
  }
}

.main {
  padding-top: 15px;
}

a {
  font-style: none;
  text-decoration: none;
  color: $blue;
}

.footer {

  hr {
    margin: 40px 0 5px 0;
  }
}

/*
Image Styling
*/

.member-profile-picture, .second-member-profile-pic, .home-profile-pic {
  @include border-radius(20px);
}

/*
Home Template Style
*/
.member-search {
  display: inline;
  margin-top: 100px;
  margin-bottom: 50px;
    
    input {
      width: 100%;
      height: 30px;
    }

    button {
      float: right;
      margin: 5px auto;
    }
}

.home-profile {
  margin-top: 15px;
  text-align: center;
  font-size: 115%;
  letter-spacing: .75px;
  font-weight: 500;
  height: 150px;
  overflow: hidden;

  div {
    margin-top: 5px;
    text-align: center;
  }
}

.map-profile {
  text-align: left;
  font-size: 115%;
  letter-spacing: .75px;
  font-weight: 500;
  overflow: hidden;
}

.map-profile-pic {
  width: 50px;
}

table { border-spacing: 5px; } /* cellspacing */

th, td { padding: 5px; } /* cellpadding */

/*
Profile Template Style
*/

.profiles-fix {
  height: 150px;
}

.profiles {
  padding-top: 20px;
}

.profile-social-media {
  img {
    margin: 1px 4px 0;
  }
}

.member-data, .second-member-data {
  display: inline-block;
}

.member-data {
  .member-profile-picture {
    margin-left: 5px;
  }

  .profile-data {
    margin: 0;
    position: relative;
    float: right;
    width: 200px;

    .profile-name {
      font-size: 150%;
      margin: 5px;
    }

    .profile-birthdate, .profile-party, .profile-description {
      font-size: 125%;
      margin: 5px;

    }
  }
}

.first-profile-text {
  text-align: left;
}

.second-profile-text {
  text-align: right;
}

.center-align {
  text-align: center;
}

.second-member-data {
  display: inline-block;

  .second-member-profile-pic {
    margin-left: 15px;
    float: right;
  }

  button {
    position: relative;
    float: right;
    margin: 5px auto 0 auto;

  }
  
  .second-profile-data {
    margin: 15px 0 0 0;
    position: relative;
    width: 200px;
    text-align: right;

    .profile-name {
      font-size: 150%;
      margin: 5px;
    }

    .profile-birthdate, .profile-party, .profile-description {
      font-size: 125%;
      margin: 5px;
    }
  }
}


/*
Bills Styling
*/
.bill-votes {
  margin-top: 30px;
  margin-bottom: 15px;
}

.profile-addMember {
  input {
    margin: 25px 0 5px 0;
  }

  button {
    margin: 2px auto; 
    float: right;
  }
}

.bill-search {
  margin-bottom: 15px;
}

.member-vote {
  position: relative;
  /*display: inline-block;*/
  text-align: center;
  vertical-align: middle;
  font-size: 120%;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 20px;
  padding: 5px;
  background: rgba(187,187,187, 0.5);

  p {
    margin: 0;
    padding: 2px;
  }
}

.vote-left {
  float: left;
  vertical-align: middle;
}

.vote-right {
  float: right;
  margin-right: 20px;
}

.positive {
  background: rgba(1,176,1, 0.5);
}

.negative {
  background: rgba(238,64,53, 0.7);
}

.bill {
  text-align: center;
  margin: 10px 0 0 5px;
  padding: 5px;
  border: 1px solid $gray;
  @include border-radius(25px); 


  .bill-question {
    font-size: 110%;
    font-weight: 600;
  }

  .bill-details {
    font-size: 110%;
  }

  .bill_status {
    font-size: 110%;
  }
}

/*
D3 Styling
*/
.legend {
  margin: 20px 0 0 5px;
  text-align: center;
  font-size: 105%;
  font-weight: 500;

  span {
    padding: 3px 5px 3px 5px;
  }
  .favor {
    background: rgba(1,176,1, 0.5);
  }
  .opposed {
    background: rgba(238,64,53, 0.7);
  }
  .other {
    background: rgba(187,187,187, 0.7);
  }
}

svg {
  margin: 10px 30px;
}

.x.axis path, .x.axis line, .y.axis path, .y.axis line {
  /*opacity: 0.75;*/
  fill: none;
  stroke: $gray;
}

rect {
  fill: white;
}

dl {
  position: relative;
  width: 200px;
  height: 100%;
  pointer-events: none;
}

.axis {
  margin: 5px 0 10px 0;
  font-size: 150%;
  font-weight: 500;
}