/*
Colors
*/

$red: #ee4035;
$orange: #f37736;
$tan: #fdf498;
$green: #7bc043;
$blue: #0392cf;
$gray: #bbbbbb;

$red-rgb: (238,64,53);
$green-rgb: (123,192,67);
$gray-rgb: (187,187,187);

/*
Font
*/

$font-stack: Helvetica, sans-serif;

/*
Mixins
*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font: 100% $font-stack;
}

.header {
  margin: 20px auto 10px;
  
  a {
    font-style: none;
    color: $gray;
  }
}

.main {
  padding-top: 15px;
}

a {
  font-style: none;
  color: $blue;
}

/*
Home Template Style
*/
.member-search {
  display: inline;
  margin-top: 100px;
  margin-bottom: 50px;
    
    input {
      width: 100%;
      height: 30px;
    }

    button {
      float: right;
      margin: 5px auto;
    }
}

/*
Profile Template Style
*/
.member-data, .second-member-data {
  display: inline-block;

  img {
    @include border-radius(20px);
  }
}

.member-data {
  img {
    margin-left: 5px;
  }

  .profile-data {
    margin: 15px 0 0 0;
    position: relative;
    float: right;
    width: 200px;

    .profile-name {
      font-size: 150%;
      margin: 5px;
    }

    .profile-birthdate, .profile-party, .profile-description {
      font-size: 125%;
      margin: 5px;

    }
  }
}

.second-member-data {
  img {
    margin-left: 15px;
    float: right;
  }
  
  .second-profile-data {
    margin: 15px 0 0 0;
    position: relative;
    width: 200px;
    text-align: right;

    .profile-name {
      font-size: 150%;
      margin: 5px;
    }

    .profile-birthdate, .profile-party, .profile-description {
      font-size: 125%;
      margin: 5px;
    }
  }
}


/*
Bills Styling
*/
.bill-votes {
  margin-top: 30px;
  margin-bottom: 15px;
}

.profile-addMember {
  input {
    margin: 25px 0 5px 0;
  }

  button {
    margin: 2px auto; 
    float: right;
  }
}

.bill-search {
  margin-bottom: 15px;
}

.member-vote {
  position: relative;
  display: inline-block;
  font-size: 120%;
  margin-top: 15px;
  margin-left: 20px;
  width: 50px;
  height: 30px;

  p {
    margin-top: 8px;
  }
}

.vote-left {
  float: left;
  font-weight: 600;
  background: rgba(187,187,187, 0.5);
}

.vote-right {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  font-weight: 600;
  background: rgba(187,187,187, 0.5);
}

.positive {
  background: rgba(1,176,1, 0.5);
}

.negative {
  background: rgba(176,1,1, 0.5);
}

.bill {
  text-align: center;
  margin: 10px 0 0 5px;
  padding: 5px;
  border: 1px solid $gray;
  @include border-radius(25px); 


  .bill-question {
    font-size: 110%;
    font-weight: 600;
  }

  .bill-details {
    font-size: 110%;
  }

  .bill_status {
    font-size: 110%;
  }
}